on:
  push:
    branches:
      - main

jobs:
  deployEKS:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: checkout source code 


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}

      - name: Terraform Init
        id: init 
        run: terraform init --upgrade

      - name: Terraform Fmt 
        id: format
        run: terraform fmt

      - name: Terraform Apply
        id: deploy
        run: terraform apply --auto-approve

        # eksctl delete nodegroup --cluster=elliotteks --name=elliotts-eks-workernodes --disable-eviction

   


        